---
import ProjectCard from "@components/ui/ProjectCard.astro";
import {projects} from "@/content/projects";
import Title from "@components/ui/Title.astro";
import FrameworkCard from "@components/ui/FrameworkCard.astro";
---

<div class='flex flex-col items-center gap-6 self-stretch'>
  <Title id='section-projects' title='Mis trabajos & proyectos' description='Una selección de aplicaciones web, plataformas y proyectos de infraestructura que he desarrollado' />

  <div class='items-start content-start gap-5 self-stretch grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3'>
    {
      projects.map(project => (
        <ProjectCard title={project.title} description={project.description} image={project.image} link={project.link}>
          {project.tecnologies.map(Tecnology => (
            <FrameworkCard title={Tecnology.name} Icon={Tecnology.icon} />
          ))}
        </ProjectCard>
      ))
    }
  </div>
</div>
