---
import {certifications, habDiseño, habTecnicas} from "@/content/me";
import Certification from "@components/ui/Certification.astro";
import FrameworkCard from "@components/ui/FrameworkCard.astro";
import Title from "@components/ui/Title.astro";
---

<div class='flex flex-col items-center gap-6'>
  <Title id='section-skill' title='Habilidades y certificaciones' description='Conoce mis habilidades que tengo técnicos y softskills, además de algunas certificacione' />

  <div class='grid grid-cols-1 md:grid-cols-2 gap-8'>
    <div class='flex flex-col gap-4 flex-[1_0_0%]'>
      <div class='flex flex-col gap-3'>
        <p class='font-bold'>Habilidades técnicas</p>

        <diV class='flex flex-wrap gap-y-2 gap-x-2.5'>
          {habTecnicas.map(hab => <FrameworkCard title={hab.name} Icon={hab.icon} />)}
        </diV>
      </div>

      <div class='flex flex-col gap-3'>
        <p class='font-bold'>Habilidades de Diseño</p>

        <diV class='flex flex-wrap gap-y-2 gap-x-2.5'>
          {habDiseño.map(hab => <FrameworkCard title={hab.name} Icon={hab.icon} />)}
        </diV>
      </div>
    </div>

    <div class='flex flex-col items-start gap-2.5 flex-[1_0_0%]'>
      <p class='font-bold'>Certificaciones</p>

      <diV class='grid grid-cols-1 self-stretch gap-y-2 gap-x-2.5'>
        {
          certifications.map((cert) => (
            <Certification title={cert.title} company={cert.empresa} link={cert.link} />
          ))
        }
      </diV>
    </div>
  </div>
</div>
