---
import {Image} from "astro:assets";

interface Props {
  title: string;
  description: string;
  image: ImageMetadata;
  link?: string;
}

const {title, description, image, link}: Props = Astro.props;
---

<a href={link} class='flex flex-col b-round border bg-neutral-950 border-transparent [border-image:linear-gradient(0deg,#171717_0%,#0A0A0A00_100%)_1]'>
  <Image src={image} alt={title} width={500} height={300} class='w-full object-cover b-round-t' />
  <div class='flex p-4 flex-col gap-3'>
    <h3 class='f-h3'>{title}</h3>
    <p class='text-neutral-400 f-sm'>{description}</p>
  </div>
  <div class='flex p-2.5 gap-2.5 flex-wrap'>
    <slot />
  </div>
</a>
